/* General Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover; /* Ensures the background image covers the entire body */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Card Styles */
.card {
  margin: 20px 0;
}

/* Input Group Styles */
.input-group {
  max-width: 500px;
  margin: 20px auto;
}

.input-group input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Weather Info Styles */
.weather-info {
  text-align: center;
}

.weather-info h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 1.2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .input-group {
    max-width: 100%;
  }

  .weather-info h2 {
    font-size: 1.5rem;
  }

  .weather-info p {
    font-size: 1rem;
  }
}
